<footer>
  <hr>
  <div class="about">
    <a href="https://twitter.com/deeeet"><img src="http://www.gravatar.com/avatar/ecb3acc2d246962361a4f8b3f7a6dd12.png"></img></a>
    <h4>tcnksm</h4>
    <p><a href="https://twitter.com/deeeet">@deeeet</a>. A web & software developer in Tokyo. Love music, movie, art and coffee. See more about me <a href="http://deeeet.com">here</a>. Please contact me via <a href="https://twitter.com/deeeet">twitter</a>.</p>
  </div>

  <div class="copy">
    &copy; {{ site.time | date: "%Y" }}
    <a href="http://deeeet.com">deeeet.com</a>
  </div>
</footer>
